{{#each this}}
    <li class="name1 mark">{{name}}</li>
    <li class="capital1 mark">Capital:{{capital}}</li>
    <li class="population1 mark">Population:{{population}}</li>
    <li class="languages1 mark">Languages
        <ul> 
            {{#each languages}}
            <li class="language1">{{this.name}}</li>
            {{/each}}
        </ul>
    </li>
    <li class="mark">
        <img class="img1" src={{flag}} alt={{denonym}}>
    </li>
    
{{/each}}